<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eyes.blue"
    android:versionCode="198"
    android:versionName="1.4.14">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <supports-screens android:anyDensity="true" />
	
    <!-- android:hardwareAccelerated="true" -->
    <application
        android:name="AnalyticsApplication"
        tools:replace="android:theme"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme"
        android:installLocation="auto" >
        <activity
            android:name="eyes.blue.SpeechMenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >

            <!-- android:screenOrientation="portrait" > -->

        </activity>
        
        <activity
            android:name="eyes.blue.LamrimReaderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

<!--             <intent-filter>
                 <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:mimeType="application/xml" />
                <data android:mimeType="text/xml" />
			<data android:mimeType="text/*" />
            </intent-filter> -->
        </activity>
        <activity
            android:name="eyes.blue.StorageManageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_storage_manage"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="eyes.blue.FileDialogActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_file_dialog"
            android:screenOrientation="landscape" >
        </activity>

        <receiver android:name="eyes.blue.MediaPlayerController$RemoteControlReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="eyes.blue.CalendarActivity"
            android:theme="@style/holo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_calendar"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="eyes.blue.IntentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
			<intent-filter>
    			<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<category android:name="android.intent.category.BROWSABLE" />
        		<data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="lamrim" />
                <data android:host="lamrimreader-cmd.eyes-blue.com" />
                <data android:host="xe74n.app.goo.gl" />
                <data android:pathPrefix="/" />
			</intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="file" />
            <data android:mimeType="*/*" />
            <data android:pathPattern=".*\\.lrs" />
            <data android:pathPattern=".*\\..*\\.lrs"/>
            <data android:pathPattern=".*\\..*\\..*\\.lrs"/>
            <data android:pathPattern=".*\\..*\\..*\\..*\\.lrs"/>
            <data android:host="*" />
        </intent-filter>
		</activity>
		<service
            android:name=".DownloadAllService"
            android:exported="false"/>
		<service
            android:name=".MoveFileService"
            android:exported="false"/>
		<activity
			android:name=".DownloadAllServiceHandler"
			android:launchMode="singleTask"
			android:taskAffinity=""
			android:excludeFromRecents="true">
		</activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest> <!-- android:screenOrientation="landscape" -->
<!-- android:configChanges="orientation|keyboardHidden" -->


